<!-- templates/telecom_agents.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telecom Chat Agents</title>
</head>
<body>
    <h2>Choose a Chat Agent:</h2>

    <a href="{{ url_for('chat_hf') }}">
        <button>Future telecom specific agents</button>
    </a>

    <a href="{{ url_for('chat_ollama') }}">
        <button>Thinking telecom agents (Ollama)</button>
    </a>

    <a href="{{ url_for('chat_gradio') }}">
        <button>Resource allocation agents</button>
    </a>

    <a href="{{ url_for('chat_openai') }}">
        <button>TelecomGPT</button>
    </a>

    <br><br>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
